configuration{
    modi: "run,drun,window";
    lines: 5;
    font: "JetBrains Mono";
    show-icons: true;
    icon-theme: "ePapirus-Dark";
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    disable-history: false;
    display-drun: "   Apps ";
    display-run: "   Run ";
    display-window: " 﩯  Windows ";
    display-Network: " 󰤨  Network ";
}

@theme "rounded-gray-dark"
